html,
body,
.view {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}
/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.flex-center {
    color: #fff;
}

.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}


.btn-main {
    text-transform: none;
    /*background-color: #4386fc;*/
    background-color: #ff5a5f !important;
    width:220px;
}

.btn-main:hover {
    background-color:#ce494d !important;
}

.btn-main:focus {
    background-color: #ff5a5f !important;
}

.btn-save-an-article {
    text-transform: none;
    background-color: #4386fc;
    width:220px;
}


.logo-header {
    font-style: italic;
    font-weight:700;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
}






.tester {
    height:600px;
}
